#cloud-config
users:
  - name: terraform_guest                                                                      
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    home: /home/terraform_guest
    shell: /bin/bash
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCeN4D2YSc+U1d8sR0xWjTHTCTHt2YJknv6nQC5sWRUhCihmSczy6y3n2/pxmY7tBI4SHlf3shYbDpDCWithVhbUasB02GywniS6ZNMp3uBWd2gfX8VYlFpyIacr0vRtcvH2kEVLV1FuaWQ5mr0xVcRx1dcnVaLWCrwNpikHUmCRN+W1UNBuEEr+Yw+S0rgk3FJ3HmB5rbGY2qcMF0e16a/Zo2SHKJ5HzuTQgtvoAsWtnpRZM6o6ko68XQb/xn5OPsvbjZrrh9ekBnJ6Hwe+6Sf65Fyz+35vQzIMZ4D2sHrG8W5wplD3qJXw+c6Qpnj+B8F8vlWy/nnqsKWypk8ii9P ubuntu@terraform

# enable ssh
ssh_pwauth: True
disable_root: false

# change password
chpasswd:
  list: |
     terraform_guest : terraform
  expire: False

# Growpart resizes partitions to fill the available disk space
growpart:
  mode: auto
  devices: ['/']

# install packages
packages:
  - git
  - python
  - wget

# run command at boot
runcmd:
  - ["cd", "/home/terraform_guest"]
  - ["git", "clone", "https://github.com/krebsalad/PiCalcPy.git"]
  - ["cd", "PiCalcPy"]
  - ["python", "install_picalc.py", "lb"]
  - ["echo", "[options]\nbuffer_size=4096\n\n[mappings]\n80=192.168.180.103:8080,192.168.122.104:8080", ">", "lb_config.cfg"]
  - ["python", "run.py", "lb", "&"]
