#cloud-config
users:
  - name: terraform_guest                                                                      
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    home: /home/terraform_guest
    shell: /bin/bash
    ssh_authorized_keys:
      - <key>

# enable ssh
ssh_pwauth: True
disable_root: false

# change password
chpasswd:
  list: |
     terraform_guest : terraform
  expire: False

# Growpart resizes partitions to fill the available disk space
growpart:
  mode: auto
  devices: ['/']

# install packages
packages:
  - git
  - python
  - wget

# run command at boot
runcmd:
  - ["cd", "/home/terraform_guest"]
  - ["git", "clone", "https://github.com/krebsalad/PiCalcPy.git"]
  - ["cd", "PiCalcPy"]
  - ["python", "install_picalc.py", "lb"]
  - ["echo", "[options]\nbuffer_size=4096\n\n[mappings]\n80=192.168.180.103:8080,192.168.180.104:8080", ">", "lb_config.cfg"]
  - ["python", "run.py", "lb", "&"]
